
	body{
		overflow-x:hidden; 
		background:#FFFFFF; 
		padding:15px 0px 10px 5px;
	}
	.clear:after{
		clear:both;
		content: "";
		display: block;
	}
	.baseInfo{
		
		height: 300px;
	}
	.baseInfo>div{
		float: left;
		
	}
	.ower{
		padding: 10px;
		border-right: #808080 solid 1px;
	}
	.client{
		padding: 10px;
	}
	input{
		width: 100%;
		height: 30px;
		border: none;
		border-left: red 1px solid;
		border-radius: 2%
		
	}
	tr{
		height: 60px;
	}
